<html>
<head>
<link rel="stylesheet" href="application.css" type="text/css" />
</head>
<body>
	<h1><%= @sample %></h1>
	<form name="Twitter" action="/twitter" method="post">
		<input type='text' name="first_hash"></input><br>
		<input type='text' name="second_hash"></input><br>
		<button>Submit</button>
	</form>
</body>
</html>