<html>
<head>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
	<script>
	$(function() {
	$( "#accordion" ).accordion();
	});
	</script>
</head>
<body>
	<div id="accordion">
		<h3>Tweet!</h3>
		<div>
		<form name="Twitter" action="/" method="post">
			Twitter accout: <input type='text' name="name"></input><br>
			Message: <input type='text' name="msg"></input><br>
			<button>Submit</button>
		</form>
		</div>
		</form>
		<h3>Add a hash</h3>
		<div>
		<form name="Twitter" action="/tweet-add" method="post">
			<input type='text' name="first_hash"></input><br>
			<input type='text' name="second_hash"></input><br>
			<button>Submit</button>
		</form>
		</div>
		<h3>Compare hash</h3>
		<div>
		<form name="Twitter" action="/compare" method="post">
			<input type='text' name="first_hash"></input><br>
			<input type='text' name="second_hash"></input><br>
			<button>Submit</button>
		</form><br>
		<% @hash_list.each_key do |key|%>
			<%= key %>,&nbsp;
		<% end %>
		</div>
	</div>

	<% @tweet_list.each do |x| %>
		@<%= x.name %> said <%= x.msg %><br>
	<% end %>
</body>
</html>